<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <!--Git-->
  <package id="git" />
  <package id="git.install" />
  <package id="github-desktop" />
  <!--Dev Core-->
  <package id="golang" />
  <package id="rustup.install" />
  <package id="virtualbox" />
  <!--Dev Utils/Editors-->
  <package id="pwsh" />
  <package id="powertoys" />
  <package id="microsoft-windows-terminal" />
  <package id="vscode" />
  <package id="notepadplusplus" />
  <!--Network-->
  <package id="putty" />
  <package id="putty.portable" />
  <package id="protonvpn" />
  <!--Media & Games-->
  <package id="vivaldi" />
  <package id="discord" />
  <package id="steam" />
  <package id="vlc" />
  <package id="k-litecodecpack-standard" />
  <package id="paint.net" />
  <!--Blog-->
  <package id="hugo-extended" />
  <!--Others-->
  <package id="shutup10" />
</packages>